*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
body{
    background-color: #2c3e50;
}
.dashboardTitle{
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 4em;
}

#dashboardContainer{
    width: 100vw;
    height: 100vh;
}

.chartHeader{
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 25px;
    font-size: 1.5em;
}

/* First Section CSS */
.firstSection{
    width: 85%;
    height: 300px;
    margin: 20px auto;
}
.filterControlsContainer{
    float: right;
    width: 24%;
    height: 300px;
    background-color: #34495e;
    box-shadow: 10px 10px 5px #22313f;
}
.filterHeader{
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5em;
}
#control1, 
#control2, 
#control3{
    margin: 15px auto;
    text-align: center;
    color: rgb(167, 167, 167);

}

.donutChartContainer{
    float: left;
    width: 75%;
    height: 300px;
    background-color: #34495e;
    box-shadow: 10px 10px 5px #22313f;
    display: flex;
    flex-direction: row;

}
#donutChart1,
#donutChart2,
#donutChart3{
    width: 33%;
    /* height: 100%; */
}


/* Middle Section CSS */
.middleSectionCharts{
    width: 85%;
    height: 450px;
    margin: 20px auto;
}
.scatterChartContainer{
    float: left;
    width: 49%;
    height: 450px;
    background-color: #34495e;
    box-shadow: 10px 10px 5px #22313f;
}
.columnChartContainer{
    float: right;
    width: 50%;
    height: 450px;
    background-color: #34495e;
    box-shadow: 10px 10px 5px #22313f;
}
#scatterChart{
    float: left;
    width: 100%;
    height: 80%;
}
#columnChart{
    float: right;
    width: 100%;
    height: 80%;
}


/* Geo Section CSS */
.geoSectionCharts{
    width: 85%;
    height: 450px;
    margin: 20px auto;
    margin-bottom: 80px;
} 
.geoChartContainer{
    width: 100%;
    height: 450px;
    background-color: #34495e;
    box-shadow: 10px 10px 5px #22313f;
}
.geoChartHeader{
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    text-align: center;
    padding-top: 25px;
    font-size: 1.5em;
}
#geoChart{
    width: 90%;
    height: 73%;
    margin: 0 auto;
    margin-top: 35px;
}



