*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
body{
    background-color: #2c3e50;
}
.dashboardTitle{
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2.5em;
}

.filterMenuBoxContainer{
    display: none;
}

#dashboardContainer{
    width: 100vw;
    height: 100vh;
   
}

.donutChartContainer{
    width: 85%;
    height: 400px;
    background-color: #34495e;
    margin: 20px auto;
    box-shadow: 10px 10px 5px #22313f;
}

.middleSectionCharts{
    width: 85%;
    height: 600px;
    background-color: #34495e;
    margin: 20px auto;
    box-shadow: 10px 10px 5px #22313f;
}

.geoSectionCharts{
    width: 85%;
    height: 500px;
    background-color: #34495e;
    margin: 20px auto;
    box-shadow: 10px 5px 5px #22313f;
}

#scatterChart{
    float: left;
    width: 50%;
    height: 100%;
    background-color: lightblue;
}

#barChart{
    float: right;
    width: 50%;
    height: 100%;
    background-color: red;
}

